<md-toolbar class="md-hue-2">
	<div class="md-toolbar-tools">
        <h2>
          <span>Welcome {{user.first_name}}</span>
        </h2>
        <span flex></span>
        <md-button ng-click="logout()" aria-label="Log Out">
          Log Out
        </md-button>
        <md-button class="md-icon-button" aria-label="Settings">
        	<i class="material-icons">settings</i>
        </md-button>
	</div>
</md-toolbar>
<md-content id="bad" class="md-padding" layout-xs="column" layout="row">
	<div flex-xs flex-gt-xs="50" layout="column">
	  <md-card style="padding: 20px">
	  		<md-card-header-text >
	        <span class="md-title">Your Recent History</span>
	      </md-card-header-text>
	  	  <md-input-container class="md-block" flex-gt-sm>
	        <label>Metric</label>
	        <md-select ng-change="createChart(chartSelection)" ng-model="chartSelection">
	          <md-option ng-repeat="(key, data) in config" value="{{key}}">
	            {{data.yAxis}}
	          </md-option>
	        </md-select>
	      </md-input-container>
	    <div id="history-container" style="min-width: 500px; height: 400px; margin: 0 auto"></div>
	  </md-card>
	</div>
	<div flex-xs flex-gt-xs="50" layout="column">
	  <md-card>
	    <md-card-title>
	      <md-card-title-text>
	        <span class="md-title">Your Latest Record</span>
	      </md-card-title-text>
	    </md-card-title>
	    <span style="padding: 20px;" class="md-subtitle">There is a <span style="font-weight:800;">{{result.probability | percentage}}</span> probability that <span style="font-weight:800;">you <span ng-if="result.patient_is_diabetic === '0'">do not </span></span>have diabetes based on the following information:</span>
	    <md-card-content>
	      <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
              <p>Body Mass Index: <span style="font-weight:800;">{{result.mass/(result.height*result.height) | number:1}} kg/m<sup>2</sup></span></p>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
              <p>Blood Pressure: <span style="font-weight:800;">{{result.blood_pressure}} mm Hg</span></p>
            </md-input-container>
          </div>
          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
              <p>Glucose Concentration: <span style="font-weight:800;">{{result.glucose}} mg/dL</span></p>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
              <p>Insulin Concentration: <span style="font-weight:800;">{{result.insulin}} mu U/mL</span></p>
            </md-input-container>
          </div>
	    </md-card-content>
	  </md-card>
		  <md-content id="bad" flex layout-padding>
		  <md-button style="float:right;" class="md-fab" aria-label="Add" ng-click="addNewRecord()">
					<i class="material-icons md-primary">note_add</i>
				</md-button>
			</md-content>
	</div>
</md-content>
