<!DOCTYPE html>
<html lang="en" ng-app="app">
    <head>
      <title>Diabetes Manager</title>
      <script src="static/bundle.js"></script>
      <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,700'>
      <link rel="stylesheet" href="./static/css/angular-material.css"/>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="./static/css/app.css"/>
    </head>
    <body ng-view></body>
</html>
